@font-face {
    font-family: 'Avenir Light';
    src: url('../assets/fonts/AvenirLight.woff2') format('woff2'),
         url('../assets/fonts/AvenirLight.woff') format('woff'),
         url('../assets/fonts/AvenirLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
} 