.white-line-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
}

.white-line {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.1) 25%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0.1) 75%,
        transparent 100%
    );
    transform: translateY(-20vh) scale(1, 1);
    border-radius: 50%;
} 