.settings-container {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
}

.setting-item {
  margin-bottom: 20px;
}

.setting-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.setting-item input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
}

.setting-item p {
  font-size: 12px;
  color: #888;
}

.settings-buttons {
  display: flex;
  gap: 10px;
}

.settings-buttons button {
  padding: 10px 20px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-buttons .save-button {
  background-color: #4CAF50;
  color: #000;
}

.settings-buttons button:hover {
  background-color: #333;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -10px;
  font-weight: bolder;
  font-size: calc(larger + 6px);
}

.section-icon {
  margin-right: 10px;
  font-size: 26px;
  color: #fff;
} 